// Named color map 'nl'

wit                 = white
zwart               = black
geel                = yellow
goud                = goud
paars               = purple
lichtpaars          = light-purple
blauw               = blue
lichtblauw          = light-blue
donkerblauw         = dark-blue
rood                = red
lichtrood           = light-red
bruin               = brown
lichtbruin          = light-brown
grijs               = grey
lichtgrijs          = light-grey
donkergrijs         = dark-grey

oranje              = orange
groen               = green



enorm               = xxl
zeergroot           = xl
groot               = l
aardig              = ml
middel              = m
normaal             = n
klein               = s
extra-klein         = xs
micro               = xxs
nano                = xxxs


/* Rasterindeling * * grid.styl
 * (fluid, responsive, fixed, nested)
 */
kolom-breedte       = $grid-column-width
goot-breedte        = $grid-gutter-width
aantal-kolommen     = $grid-column-count

// Rasteronderdelen
rijen(n)
    row(n)
kolom(x, n)
    column(x, n = columns)
afzet(n)
    offset(n)

/* Posities * * positions.styl
 */
vastgezet('fixed', arguments)
    fixed('fixed', arguments)
absoluut('absolute', arguments)
    absolute('absolute', arguments)
relatief('relative', arguments)
    relative('relative', arguments)


// Interactie
zweef-donker(args...)
    hover-darken(args...)
zweef-lichter(args...)
    hover-lighten(args...)
zweef-onderstrepen()
    hover-underline()
zweef-dialoog(args...)
    hover-pop(args...)
zweef-vervaag(args...)
    hover-fake(args...)
zweef-kleur(args...)
    hover-color(args...)


