// Global variable strings

$field   = 'veld'

$success = 'geslaagd'

$error   = 'fout'

$warning = 'waarschuwing'


// Variables to variables
// This is to keep definitions of colors etc at 1 central spot, so you
// don't have to provide the actual colors in the language you use.

// Named colors
wit                 = white
zwart               = black
geel                = yellow
goud                = goud
paars               = purple
lichtpaars          = light-purple
blauw               = blue
lichtblauw          = light-blue
donkerblauw         = dark-blue
rood                = red
lichtrood           = light-red
bruin               = brown
lichtbruin          = light-brown
grijs               = grey
lichtgrijs          = light-grey
donkergrijs         = dark-grey

oranje              = orange
groen               = green

// Size quantifiers
enorm               = xxl
zeergroot           = xl
groot               = l
aardig              = ml
middel              = m
normaal             = n
klein               = s
extra-klein         = xs
micro               = xxs
nano                = xxxs


// ((todo)) RASTER Better refactor

fluid               = 'vloeibaar'
fixed               = 'vast'
responsive          = 'reactief'
nested              = 'ingesloten'

/* Rasterindeling * grid.styl
 */
kolom-breedte       = $grid-column-width
goot-breedte        = $grid-gutter-width
aantal-kolommen     = $grid-column-count

// Rasteronderdelen
rijen = row
kolom = column
afzet = offset

/* Posities * * positions.styl
 *
 */
vastgezet = fixed
absoluut  = absolute
relatief  = relative


// Interactie
zweef-donker       = hover-darken
zweef-lichter      = hover-lighten
zweef-onderstrepen = hover-underline
zweef-dialoog      = hover-pop
zweef-vervaag      = hover-fake
zweef-kleur        = hover-color
*/

